.btn-container {
    position: absolute;
    top: 1px;
    right: -5px;
}

.btn {
    padding: 10px;
    padding-bottom: 6px;
    background-color: transparent;
}

.btn:hover {
    border-color: transparent;
    background-color: rgba(41, 168, 218, 0.322);
}

.btn svg {
    width: 15px;
}